// For all icon bg, I add 20% to the lightness (in HSL)
//----- Success (Green)
$success-green: #75aa61;
$success-green-back: #aecda2;

//----- Info (Blue)
$info-blue: #6181aa;
$info-blue-back: #a2b5cd;

//----- Warning (Yellow)
$warn-yellow: #cecf60;
$warn-yellow-back: #e5e6ad;

//----- Error (Red)
$error-red: #ae6872;
$error-red-back: #d2acb2;
